{% extends 'physio.html.twig' %}
{% block body %}

	<header>
		<div id="logo"><a href="{{path('accueil')}}">ERCPhysio</a></div>		
		<button class="btn_deco" type="submit">Déconnexion</button>
	</header>

	<h1 id="titre">Champs cliniques</h1>

	<div class="champs_clin">
		{% for champ in champs %}
		<div class="afficherCategorie champs">{{champ.name}}
		
			<div class="categories">
				<ul class="liste">					
					{% for catego in champ.categories %}
					<li class="afficherSousCategorie catego"><img src="images/fleche.png" class="fleche">{{catego.name}}

						<div class="sous_categories">
							<ul class="liste2">
								{% for souscatego in catego.souscategories %}
									<li class="sous_catego"><img src="images/fleche2.png" class="fleche2">{{souscatego.name}}

										<div class="types_test">
											<ul class="liste3">
												{% for  in . %}
												<li class="t_test"><img src="images/fleche2.png" class="fleche2">{{.}}

													<div class="test">
														<ul class="liste4">
															{% for  in . %}
															<li class="num_test"><img src="images/fleche2.png" class="fleche2">{{.}}</li>
														</ul>
													</div>
												</li>
											</ul>
										</div>
									</li>
								{% endfor %}		
							</ul>
						</div>
					</li>
					{% endfor %}		
				</ul>				
			</div>
		</div>
		{% endfor %}
	</div>
	
{% endblock %}