{% extends 'physio.html.twig' %}
{% block body %}
    <div id="pres" class="b">

      {{test.name}}
      <input type="button" class="button" value="Commencer">

    </div>
    <div id="truescreen" class="b">
        Votre réponse est juste !!<br><br><br>
        <input type="button" id="truebutton" class="continue" value="Continuer">
    </div>
    <div id="falsescreen" class="b">
        Votre réponse est fausse !!<br><br><br>
        <input type="button" id="falsebutton" class="continue" value="Continuer">
    </div>

    <div id="bigend" class="b">

      {{test.name}}

    <div id="end">

    </div>
    <input type="button" id="retour" value="Retour">
    </div>

    <div id="content" class="b">
    {% block content %}
      <div id="question">
        {{question.question}}
      </div>


      <div id="reponses">

        {% for key, reponse in reponses %}
        <div class="blocrep">
          <div id="num{{reponse.id}}" class="num">{{key+1}}</div>
          <p>{{reponse.reponse}}</p><br>
        </div>
        {% endfor %}

      </div>

      <input type="button" id="buttonq" class="button" value="Valider" data-juste="[{{justes}}]" data-liste="[{{allIds}}]" data-x="{{test.id}}">
    {% endblock %}
    </div>
{% endblock %}
